.App {
  max-width: 411px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.banner {
  position: absolute;
  top: 0;
  max-width: 411px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999 !important;
}
.social {
  color: white;
}
.icon {
  margin: 6%;
}
a {
  text-decoration: none;
  color: white;
}
